<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.twilight.campus.mapper.CategoryMapper">

    <select id="selectAll" resultType="com.twilight.campus.pojo.Category">
        select
        id, name, sort, status, create_time, update_time
        from category
        order by sort asc, id desc
    </select>

    <select id="selectById" resultType="com.twilight.campus.pojo.Category">
        select
        id, name, sort, status, create_time, update_time
        from category
        where id = #{id}
    </select>

    <select id="selectByName" resultType="com.twilight.campus.pojo.Category">
        select
        id, name, sort, status, create_time, update_time
        from category
        where name = #{name}
        limit 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into category
        (name, sort, status, create_time, update_time)
        values
        (#{name}, #{sort}, #{status}, now(), now())
    </insert>

    <update id="update">
        update category
        set name = #{name},
        sort = #{sort},
        status = #{status},
        update_time = now()
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from category where id = #{id}
    </delete>

</mapper>
